.kaufman {
    padding: 90px 0 90px 0;
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
  }
  
  .section-title_theme_dark {
    color:white;
    z-index: 2;
  }
  
  .section-subtitle_theme_dark {
    position: relative;
    color:white;
    z-index: 2;
  }
  
  .tabel_theme_dark {
    position: relative;
    gap: 0;
    padding: 0;
    z-index: 2;
  }
  
  .tabel__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
  }
  .kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top:0;
    right: -210px;
    z-index: 1;
  }